//Para relembrar e outros conceitos

.flexContainer:last-child {
  margin-top: 50%;
}
body {
  margin: 0;
  padding: 0;
}
div {
  height: 4em;
  width: 4em;
}
div:nth-child(1) {
  background-color: red;
  width: 4em;
  height: 4em;
}
div:nth-child(2) {
  background-color: blue;
}
div:nth-child(3) {
  background-color: green;
}
div:nth-child(4) {
  background-color: yellow;
}
div:nth-child(5) {
  background-color: pink;
}
div:nth-child(6) {
  background-color: black;
}
div:nth-child(7) {
  background-color: orange;
}
div:nth-child(8) {
  background-color: silver;
}
/*Fim do setup inicial */

.flexContainer {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
}

.flexItem {
  /* flex-grow: 2;
  flex-grow: 0;
  flex-shrink: 0;
  flex-shrink: 1;  */
  flex: 1 1;
  flex-basis: 25%;
}

.primeiro {
  //flex-grow: 3;
  flex-shrink: 2;
}
